<h1>Créditos</h1>

<p>
    Esta práctica ha sido desarrollada por Jose Ignacio de Oro-Pulido Alvarez y Lucas del Campo Bozo
</p>

<img src="/images/realizadores.jpg" width="100" height="100"/>
<a href="https://github.com/pepequilates/quiz_2017">GitHub</a>


