<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Quiz</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>

<h1>Créditos</h1>

<a href="/">Inicio</a>
<a href="/author">Créditos</a>

<p>
    Esta práctica ha sido desarrollada por LeChuck.
</p>

<img src="/images/lechuck.jpg" />

</body>
</html>
