<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Quiz</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <h1>Bienvenido a <%= title %></h1>

  <a href="/">Inicio</a>
  <a href="/author">Créditos</a>

  <p>El portal donde podrá crear sus propios juegos!</p>
  </body>
</html>
